<!doctype html>
<html lang="en">

<head>
  <!-- show logo in top on browser -->
  <link rel="shortcut icon" href="images/Fab_Icon_01-01.png" type="image/x-icon">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
  <title>Fantasy Cricket App! Play & Win Real Cash | Download the HOG Games. </title>
  <meta name="description"
  content="Play exciting games, ludo, rummy, cricket, carrom and teen patti on the Heaven of Gamers app. Play online to win real money. Download the HOG App Now!" />
  <meta name="keywords"
  content="Fantasy Cricket App, Play & Win Real Cash, play carrom and earn money, rummy app download, poker real money game download, Play 8 Pool game online for money, tambola app free download, online tambola app to win cash, 3 patti earning app, chess app download apk, horse racing game online">
  <link rel="canonical" href="https://wwww.heavenofgamers.com/" />
  <meta name="google-site-verification" content="e_ycQx7w4Xgs6hQgXoeYVC8IiWHfrZbANV__cXdNgHc" />
  <meta name="author" content="Code Carnival">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LCLXLBC0XM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-LCLXLBC0XM');
  </script>
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dongle&family=Lato:ital@1&family=Merriweather&family=Mochiy+Pop+One&family=Oswald&display=swap"
    rel="stylesheet">
  <!-- fontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <!-- servives carousel -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
  <!--  End servives carousel -->

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- css link -->
  <link rel="stylesheet" href="new_site/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Metal+Mania&amp;display=swap" rel="stylesheet">

  <title>HOG/About</title>
</head>
<style>
  /* @import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap'); */
  body  h1,h2,h3,h4{
    font-family:   "Exo", sans-serif;
  }
  
  .row h1,h2,h3,h4{
    font-family:   "Exo", sans-serif;
  }

  .col-sm-4 .card{
    border-style: none;
}
.col-lg-12 img{
  border-radius: 6%;
}

</style>

<body>

  <!-- navbar start -->

  <div class="header" id="myHeader" style="background: rgba(20, 14, 56, 0.9)";>
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="new_site/images/HOG_NEW-02.png" alt="logo" style=" width: 150px; margin-left: 15%;";>
        </a>
        <a class="navbar-brand" style="font-weight: bold; margin-left: 15%; color: rgb(0, 0, 0);"></a>
        <button class="navbar-toggler" style="background-color:  rgb(105, 11, 194);" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ms-auto mb-2 mb-lg-0" style="margin-right: 10%;" >
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/" style="font-weight: bold; color:white;font-size: 20px;">Home</a>
            </li>
          </ul>
          <ul class="navbar-nav  ms-auto mb-2 mb-lg-0" style="margin-right: 10%;" >
            <li class="nav-item" >
              <a class="nav-link" href="about" style="font-weight: bold; color:white; font-size: 20px;">About Us</a>
            </li>
          </ul>
        
        <ul class="navbar-nav  ms-auto mb-2 mb-lg-0" style="margin-right: 10%;" >
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-weight: bold; color:white; font-size: 20px;">Launching Soon</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- navbar end  -->


<div class="container mt-3">

<div class="row mt-5 mb-5">
    <h1 class="text-center mb-100" style="color: rgba(20, 14, 56, 0.9);"><b>ABOUT US</b></h1>

</div>

    <div class="row mb-5">
    <div class="col-sm-6">
        <img width="100%" src="new_site/images/Gamer-01.png" alt="">
    </div>
    <div class="col-sm-6 text-center">      
            <h1 class="mt-5">ABOUT <span style="color:#b154f0;"><b>HOG</b></span></h1>
            <h2 class="mt-5">HOG is the best gaming studio for all gamer.</h2>
         
            <p class="mt-5">Heaven of Gamers knows how passionate you are about mobile games, so we have come up with interesting games with an
                experiential platform where you not just play but WIN Cash Rewards as well.
                We are eager to help every gamer, whether you might be an amateur or a professional. By playing HOG games online,
                you invoke the player in you and start winning ample rewards.
                Our aim is to give a place where you can fulfill your dream of becoming a player & earning fame by winning games for
                REAL.
                So, why wait? Unlock the player within you by downloading the HOG app to start playing.
            </p>
    </div>
</div>
<img class="w-100" src="new_site/images/Launching_soon_banner-01.png" alt="">
</div>







  <!-- Footer -->
  <footer class="page-footer font-small mt-3" style="background: rgba(20, 14, 56, 0.9)" ;>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mt-3 mb-30">
          <img src="new_site/images/HOG_NEW-02.png" alt=""
            style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
          <p style="color:white;text-align: center;">HOG App is a skill-based gaming platform where you earn money while
            playing online.
            The app takes your passion for the games one step ahead & makes you a
            professional with an exciting gaming experience on your smartphone.
          </p>
        </div>
  
  
        <div class="col-sm-6 mt-3 py-3 text-center text-white">
          <h2>Contact</h2>
          <p>
            info@heavenofgamers.com <br>
          support@heavenofgamers.com <br>        
          </p>
  
                   
            <!-- Facebook -->
            <a href="https://www.facebook.com/heavensofgamer/">
              <!-- <i class="fab fa-facebook-f fa-lg mr-md-2 mr-2 " style="color: white;"></i> -->
              <img style="width: 30px;border-radius: 70%;" src="new_site/icon/fb.png" alt="">
            </a>
            <!--Instagram-->
            <a aria-label="instagram" class="instagram" href="https://www.instagram.com/heavensofgamers/">
              <!-- <i class="fab fa-instagram fa-lg mr-md-2 mr-2  " style="color: white;"></i> -->
              <img style="width: 30px; border-radius: 50%;" src="new_site/icon/insta.png" alt="">
            </a>
            <!-- youtube  -->
            <a aria-label="youtube" class="youtube" href="https://www.youtube.com/channel/UCaXtspctg_nRy4SofAxlUvQ">
              <!-- <i class="fab fa-youtube fa-lg mr-md-2 mr-2 " style="color: white;"></i> -->
              <img style="width: 30px; border-radius: 70%;" src="new_site/icon/yout.png" alt="">
            </a>
            <!-- twitter  -->
            <a aria-label="twitter" class="twitter" href="https://twitter.com/GamersHog">
              <!-- <i class="fab fa-twitter fa-lg mr-md-2 mr-2 " style="color: white;"></i> -->
              <img style="width: 30px;border-radius: 10%;" src="new_site/icon/twitter.png" alt="">
            </a>
            <!-- Linkedin  -->
            <a aria-label="linkedln" class="linkedln" href="https://www.linkedin.com/company/heavenofgamers/">
              <img style="width: 30px; border-radius: 80%;" src="new_site/icon/linked.png" alt="">
              <!-- <i class="fab fa-linkedin-in fa-lg mr-md-2 mr-2  " style="color: white;"></i> -->
            </a>
            <!-- printerest  -->
            <a aria-label="Pinterest" class="pinterest" href="https://in.pinterest.com/heavenofgamershog/">
              <!-- <i class="fab fa-pinterest fa-lg mr-md-2 mr-2 " style="color: white;"></i> -->
              <img style="width: 30px;border-radius: 80%;" src="new_site/icon/pin.png" alt="">
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-center"><p style="color: white;"> © 2021 HOG  Developed & Marketed by Axes Geeks Pvt. Ltd.</p></div>
        <div class="col-sm-6 text-center"  style="text-decoration: none;">
          <a href="term-and-condition" style="color: white; text-decoration: none;">Terms & Condition || </a>
          <a href="privacy-policy" style="color: white;text-decoration: none;">Privacy Policy || </a>
          <a href="#" style="color: white; text-decoration: none;">Disclaimer </a>
        </div>
      </div>
    </div>
  </footer>
    <!--end Footer -->


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>    
</body>
</html>