<%- include ('./header.ejs') %>


    <!-- breadcrumbs area start -->
    <div class="breadcrumbs_aree breadcrumbs_bg" data-bgimg="/bonx/assets/img/bg/breadcrumbs-bg.webp">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs_text text-center">
                        <h1>Contact us</h1>

                        <p><%=msg%></p>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs area end -->
    <!-- page wrapper start -->
    <div class="page_wrapper">
    
        <!-- contact section start -->
        <section class="contact_page_section mb-140">
            <div class="container">


                
                <div class="contact_form_area">
                    <div class="section_title text-center mb-60">
                        <h2>GET IN TOUCH</h2>
                        <p>When unknown printer took type and scrambled it to make <br>
                            type specimen book centuries,</p>
                    </div>
                    <div class="contact_form_inner">
                        <form id="contact-form" action="/contact" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form_input">
                                        <input name="name" placeholder="Name" type="text" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_input">
                                        <input name="email"  placeholder="E-Mail" type="text" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_input">
                                        <input name="phone"  placeholder="Phone" type="text" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_input">
                                        <input name="address"  placeholder="Address" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form_textarea">
                                <textarea name="message" placeholder="Write a review from here" required></textarea>
                            </div>
                            <div class="form_input_btn text-center">
                                <button type="submit" class="btn btn-link">SUBMIT NOW <img width="20" height="20" src="/bonx/assets/img/icon/arrrow-icon.webp" alt=""></button>
                            </div>
                            <p class="form-message"></p>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact section end -->

        <!-- contact map start -->
        <!-- <div class="contact_map mt-70" style="margin-bottom: 40px;"> -->
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.6701389278105!2d-0.13442558407566274!3d51.48256882033922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760532743b90e1%3A0x790260718555a20c!2sU.S.%20Embassy%2C%20London!5e0!3m2!1sen!2sbd!4v1623927462716!5m2!1sen!2sbd"  style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
        <!-- </div> -->
        <!--contact map end-->
        
        <!-- gaming update section start -->
      
        <!-- gaming update section end -->

    </div>
    <!-- page wrapper end -->

    <!--footer area start-->
<%- include ('./footer.ejs') %>
  