<footer class="footer_widgets">
    <div class="main_footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main_footer_inner d-flex">
                        <div class="footer_widget_list">
                            <div class="footer_logo">
                                <a href="#"><img aria-label="logo" width="215" height="79" src="/bonx/images/HOG_NEW-02.png" alt=""></a>
                            </div>
                            <div class="footer_contact_desc">
                                <p style="font-size: 14px;"> HOG App is a skill-based gaming platform where you earn money while playing online. The app takes your passion for the games one step ahead & makes you a professional with an exciting gaming experience on your smartphone.</p>
                            </div>
                            <div class="footer_social">
                                <ul class="d-flex">
                                    <li><a aria-label="facebook" class="facebook" href="https://www.facebook.com/heavensofgamer/"><i class="icofont-facebook"></i></a></li>
                                    <li><a aria-label="linkedln" class="linkedln" href="https://www.linkedin.com/company/heavenofgamers/"><i class="icofont-linkedin"></i></a></li>
                                    <li><a aria-label="youtube" class="youtube" href="https://www.youtube.com/channel/UCaXtspctg_nRy4SofAxlUvQ"><i class="icofont-youtube-play"></i></a></li>
                                    <li><a aria-label="twitter" class="twitter" href="https://twitter.com/GamersHog"><i class="icofont-twitter"></i></a></li>
                                    <li><a aria-label="Pinterest" class="pinterest" href="https://in.pinterest.com/heavenofgamershog/"><i class="icofont-pinterest"></i></a></li>
                                    <li><a aria-label="instagram" class="instagram" href="https://www.instagram.com/heavensofgamers/"><i class="icofont-instagram"></i></a></li>                                </ul>
                            </div>
                        </div>
                        <div class="footer_widget_list contact">
                            <h3>Contact</h3>
                            <div class="contact_email">
                                <img width="45" height="30"  src="/bonx/assets/img/icon/email.webp" alt="">
                                <div class="contact_content">
                                    <div class="contact_info_text">
                                        <!-- <h3>Email:</h3> -->
                                        <p class="pt-4">
                                            <a href="mailto:info@heavenofgamers.com">info@heavenofgamers.com</a>  <br>
                                            <a href="mailto:support@heavenofgamers.com">support@heavenofgamers.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer_widget_list">
                            <h3>today’s winners</h3>
                            <div class="footer_winners_gallery">
                                <div class="footer_winners_list d-flex">
                                    <div class="footer_winners_thumb">
                                        <a href="#"><img aria-label="game-team" width="75" height="75" src="/bonx/assets/img/others/winners1.webp" alt=""></a>
                                    </div>
                                    <div class="footer_winners_thumb">
                                        <a href="#"><img aria-label="game-team" width="75" height="75" src="/bonx/assets/img/others/winners2.webp" alt=""></a>
                                    </div>
                                    <div class="footer_winners_thumb">
                                        <a href="#"><img aria-label="game-team" width="75" height="75" src="/bonx/assets/img/others/winners3.webp" alt=""></a>
                                    </div>
                                </div>
                                <div class="footer_winners_list d-flex">
                                    <div class="footer_winners_thumb">
                                        <a href="#"><img aria-label="game-team" width="75" height="75" src="/bonx/assets/img/others/winners4.webp" alt=""></a>
                                    </div>
                                    <div class="footer_winners_thumb">
                                        <a href="#"><img aria-label="game-team" width="75" height="75" src="/bonx/assets/img/others/winners5.webp" alt=""></a>
                                    </div>
                                    <div class="footer_winners_thumb">
                                        <a href="#"><img aria-label="game-team" width="75" height="75" src="/bonx/assets/img/others/winners6.webp" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="footer_widget_list footer_list_menu">
                            <h3>Content</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Disclaimer </a></li>
                                    
                                    
                                </ul>
                            </div>
                        </div> -->
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer_bottom_inner d-flex justify-content-between">
                        <div class="copyright_right">
                            <p> © 2021 HOG </p>
                        </div>
                        <div class="footer_bottom_link_menu">
                            <ul class="d-flex">
                                <li><a href="/terms-and-conditions">Terms & Condition  </a></li>
                                <li><a href="/privacy-policy">Privacy Policy  </a></li>
                                <li><a href="#">Disclaimer </a></li>
                                
                            </ul>
                        </div>

                        <div class="scroll__top_icon">
                            <a id="scroll-top" href="#"><img aria-label="scroll-top" width="46" height="40" src="/bonx/assets/img/icon/scroll-top.webp" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer area end-->  
<!--=====================JS==========================-->
<!--modernizr min js here-->
<script src="/bonx/assets/js/vendor/modernizr-3.7.1.min.js"></script>

<!-- Vendor JS -->
<script src="/bonx/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/bonx/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<script src="/bonx/assets/js/vendor/popper.js"></script>
<script src="/bonx/assets/js/vendor/bootstrap.min.js"></script>
<script src="/bonx/assets/js/slick.min.js"></script>
<script src="/bonx/assets/js/wow.min.js"></script>
<script src="/bonx/assets/js/jquery.nice-select.js"></script>
<script src="/bonx/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/bonx/assets/js/jquery.counterup.min.js"></script>
<script src="/bonx/assets/js/jquery-waypoints.js"></script>

<!-- Main JS -->
<script src="/bonx/assets/js/main.js"></script>
</body>
</html>

