<!doctype html>
<html lang="en">

<head>
  <!-- show logo in top on browser -->
  <link rel="shortcut icon" href="images/Fab_Icon_01-01.png" type="image/x-icon">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
  <title>Fantasy Cricket App! Play & Win Real Cash | Download the HOG Games. </title>
  <meta name="description"
    content="Play exciting games, ludo, rummy, cricket, carrom and teen patti on the Heaven of Gamers app. Play online to win real money. Download the HOG App Now!" />
  <meta name="keywords"
    content="Fantasy Cricket App, Play & Win Real Cash, play carrom and earn money, rummy app download, poker real money game download, Play 8 Pool game online for money, tambola app free download, online tambola app to win cash, 3 patti earning app, chess app download apk, horse racing game online">
  <link rel="canonical" href="https://wwww.heavenofgamers.com/" />
  <meta name="google-site-verification" content="e_ycQx7w4Xgs6hQgXoeYVC8IiWHfrZbANV__cXdNgHc" />
  <meta name="author" content="Code Carnival">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Fantasy Cricket App! Play & Win Real Cash | Download the HOG Games. " />
	<meta property="og:description" content="Play exciting games, ludo, rummy, cricket, carrom and teen patti on the Heaven of Gamers app. Play online to win real money. Download the HOG App Now!" />
	<meta property="og:url" content="https://www.heavenofgamers.com/" />
	<meta property="og:site_name" content="Heaven of Gamers" />
	<meta property="article:modified_time" content="2022-01-18T10:33:24+00:00" />
	<meta property="og:image" content="https://www.heavenofgamers.com/new_site/images/first.jpg" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LCLXLBC0XM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-LCLXLBC0XM');
  </script>
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dongle&family=Lato:ital@1&family=Merriweather&family=Mochiy+Pop+One&family=Oswald&display=swap"
    rel="stylesheet">
  <!-- fontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <!-- servives carousel -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
  <!--  End servives carousel -->

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- css link -->
  <link rel="stylesheet" href="new_site/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Metal+Mania&amp;display=swap" rel="stylesheet">

  <title>HOG</title>
</head>
<style>
  /* @import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap'); */
  body  h1,h2,h3,h4{
    font-family:   "Exo", sans-serif;
    color: rgba(20, 14, 56, 0.9);

  }
  
  .row h1,h2,h3,h4{
    font-family:   "Exo", sans-serif;
  }
  .container h1,h2,h3,h4{
   font-weight: bold;
  }

  .col-sm-4 .card{
    border-style: none;
}
.col-lg-12 img{
  border-radius: 6%;
}

</style>

<body>


  <!-- navbar start -->

 
  <div class="header" id="myHeader" style="background: rgba(20, 14, 56, 0.9)";>
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="new_site/images/HOG_NEW-02.png" alt="logo" style=" width: 150px; margin-left: 15%;";>
        </a>
        <a class="navbar-brand" style="font-weight: bold; margin-left: 15%; color: rgb(0, 0, 0);"></a>
        <button class="navbar-toggler" style="background-color:  rgb(105, 11, 194);" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ms-auto mb-2 mb-lg-0" style="margin-right: 10%;" >
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/"
                style="font-weight: bold; color:white;font-size: 20px;">Home</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                style="font-weight: bold; color:white;">About Us</a>
            </li> -->
            <!-- <li class="nav-item" >
              <a class="nav-link" href="#" style="font-weight: bold; color:white;">About Us</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="#" style="font-weight: bold; color:white;">Download</a>
            </li> -->
          </ul>
          <ul class="navbar-nav  ms-auto mb-2 mb-lg-0" style="margin-right: 10%;" >
            <li class="nav-item" >
              <a class="nav-link" href="about" style="font-weight: bold; color:white; font-size: 20px;">About Us</a>
            </li>
          </ul>
        
        <ul class="navbar-nav  ms-auto mb-2 mb-lg-0" style="margin-right: 10%;" >
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-weight: bold; color:white; font-size: 20px;">Launching Soon</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- navbar end  -->

<!-- image slider  -->

  <div id="carouselExampleFade" class="carousel slide carousel-fade"  data-bs-ride="carousel">
	<div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
		  <img src="new_site/images/a.jpg" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item " data-bs-interval="1000">
		  <img src="new_site/images/b.jpg" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item" data-bs-interval="1000">
		  <img src="new_site/images/c.jpg" class="d-block w-100" alt="...">
		</div>
	   
	  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!-- end image slider  -->


 
<section id="card" class="mt-5 mb-100">
	<div class="testimonial-box">
	  <div class="container text-center">
		  <h1 class="mt-5 mb-5">POPULAR <span style="color: #b154f0;">GAME </span></h1>
      <p class="mt-5 mb-5"> <span style="color: #b154f0;">HOG </span> app provides an opportunity to play traditional games with a twist of high intelligence & technology to WIN rewards.</p>

		<div class="row" style="margin-left: 2%; margin-right: 2%;">
		  <div class="col-lg-12">
			<div class="team-slider owl-carousel">
			  <div class="single-box text-center">
				<div class="img-area"><img src="new_site/images/Fruit_Samurai-01.jpg" alt=""></div>
			  </div>
			  <div class="single-box text-center">
				<div class="img-area"><img src="new_site/images/Teen_patti.jpg" alt=""></div>
			  </div>
			  <div class="single-box text-center">
				<div class="img-area"><img src="new_site/images/Poker-01.jpg" alt=""></div>
			  </div>
			  <div class="single-box text-center">
				<div class="img-area"><img src="new_site/images/8_pool-01.jpg" alt=""></div>
			  </div>
			  <div class="single-box text-center">
				<div class="img-area"><img src="new_site/images/Rummy-01.jpg" alt=""></div>
			  </div>
			  <div class="single-box text-center">
				<div class="img-area"><img src="new_site/images/Bubble_shooter.jpg" alt=""></div>
			  </div>
			  <div class="single-box text-center">
				<div class="img-area"><img src="new_site/images/Call_Break.jpg" alt=""></div>
			  </div>
			  <div class="single-box text-center">
				<div class="img-area"><img src="new_site/images/Carrom.jpg" alt=""></div>
			  </div>
			  <div class="single-box text-center">
				<div class="img-area"><img src="new_site/images/Ludo.jpg" alt=""></div>
			  </div>
			  <div class="single-box text-center">
				<div class="img-area"><img src="new_site/images/Cricket_01-01.jpg" alt=""></div>
			  </div>
			  <div class="single-box text-center">
				<div class="img-area"><img src="new_site/images/Horse_Race-02.jpg" alt=""></div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>




<div class="container p-lg-5" style="text-align: center;">  
  <h1 class="mb-5 mt-3">YOU ARE MOST WELCOME
    <span style="color: #b154f0;">IN </span> GAMING WORLD.</h1>
<div class="row mt-3">
	<div class="col-sm-4">
		<div class="card" style="width: 100%">
			<img width="156" height="157" src="new_site/images/Icon-01.png" alt="" style="display: block; margin-left: auto; margin-right: auto;" >
			<div class="card-body">
				<h3 class="card-title">Select a Game</h3>
				<p class="card-text" style="font-size: 14px;">
					To start your journey on the HOG app, first of all, you need to select a match that you want to play
					on the app. After that, click on it and play.
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card" style="width:100%;">
			<img width="156" height="157" src="new_site/images/ICON-02.png" alt="" style="display: block; margin-left: auto; margin-right: auto;" >
			<div class="card-body">
				<h3 class="card-title">Join Contests</h3>
				<p class="card-text" style="font-size: 14px;">
					After creating your team on the HOG app, choose your player and join your desired contest with your
					team. You can even join various leagues with a different team to play your game.
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card" style="width: 100%;">
			<img width="156" height="157" src="new_site/images/ICON-03.png" alt="" style="display: block; margin-left: auto; margin-right: auto;" >
			<div class="card-body">
				<h3 class="card-title">Win Rewards</h3>
				<p class="card-text" style="font-size: 14px;">
					Play your selected game or content with your team or alone. And WIN an abundance of rewards, as per
					the game standard</p>
				</p>
			</div>
		</div>
	</div>
</div>
</div>



<div class="container text-center p-lg-5">
  <h1>WHY <span style="color: #b154f0;">HOG </span> ?</h1>
  <p>We offer the best gaming experience with an Advanced User Interface <br>
      that gives the real joy of playing games online.</p> 
      <div class="row mt-5">
          <div class="col-sm-4">
              <div class="card" style="width:100%;">
                  <img width="156" height="157" src="new_site/images/2nd ICON-01.png" alt="" style="display: block; margin-left: auto; margin-right: auto;" >
                  <div class="card-body">
                      <h3 class="card-title">Great Security</h3>
                      <p>100% Safe & Secure Transactions
                        Zero Fraud Assurance
                        Identity Data Privacy</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card" style="width:100%;">
                  <img width="156" height="157" src="new_site/images/2nd ICON-02.png" alt="" style="display: block; margin-left: auto; margin-right: auto;" >
                  <div class="card-body">
                      <h3 class="card-title">Win Ultimate Cash</h3>
                      <p>Earn on every game you play
                        Refer to your friends & earn
                        Instant withdrawal</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card" style="width:100%;">
                  <img width="156" height="157" src="new_site/images/2nd ICON-03.png" alt="" style="display: block; margin-left: auto; margin-right: auto;" >
                  <div class="card-body">
                      <h3 class="card-title">Advance Plateform</h3>
                      <p>Play 2D Games Online 24*7
                        Chess, Cricket, Rummy & More
                        High Tech Interface</p>
                  </div>
              </div>
          </div>
      </div>
</div>

<div class="container">
<div class="row p-4">
  <div class="col-sm-12 text-center" > <h1 >Benefits of Playing Games on <br> <span style="color: #b154f0;">HOG App.</span></h1>  </div>


  <div class="row">
  <div class="col-sm-6">
    <img style="width:300px ;" src="new_site/images/little_champ.png" alt="">
  </div>
  <div class="col-sm-6"> 
     <p style="font-size: 21px; text-align: center; margin-top: 10%;">
    Playing a virtual game online on HOG offers the opportunity to WIN amazing rewards. Just log in, choose your game, join the contest, play, and win
    </p>
  </div>
</div>
</div>
 </div>






  <!-- Footer -->
<footer class="page-footer font-small mt-3" style="background: rgba(20, 14, 56, 0.9)" ;>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mt-3 mb-30">
        <img src="new_site/images/HOG_NEW-02.png" alt=""
          style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
        <p style="color:white;text-align: center;">HOG App is a skill-based gaming platform where you earn money while
          playing online.
          The app takes your passion for the games one step ahead & makes you a
          professional with an exciting gaming experience on your smartphone.
        </p>
      </div>


      <div class="col-sm-6 mt-3 py-3 text-center text-white">
        <h2 style="color:white">Contact</h2>
        <p>
          info@heavenofgamers.com <br>
        support@heavenofgamers.com <br>        
        </p>

                 
          <!-- Facebook -->
          <a href="https://www.facebook.com/heavensofgamer/">
            <img style="width: 30px;border-radius: 70%;" src="new_site/icon/fb.png" alt="">
          </a>
          <!--Instagram-->
          <a aria-label="instagram" class="instagram" href="https://www.instagram.com/heavensofgamers/">
            <img style="width: 30px; border-radius: 50%;" src="new_site/icon/insta.png" alt="">
          </a>
          <!-- youtube  -->
          <a aria-label="youtube" class="youtube" href="https://www.youtube.com/channel/UCaXtspctg_nRy4SofAxlUvQ">
            <img style="width: 30px; border-radius: 70%;" src="new_site/icon/yout.png" alt="">
          </a>
          <!-- twitter  -->
          <a aria-label="twitter" class="twitter" href="https://twitter.com/GamersHog">
            <img style="width: 30px;border-radius: 10%;" src="new_site/icon/twitter.png" alt="">
          </a>
          <!-- Linkedin  -->
          <a aria-label="linkedln" class="linkedln" href="https://www.linkedin.com/company/heavenofgamers/">
            <img style="width: 30px; border-radius: 80%;" src="new_site/icon/linked.png" alt="">
          </a>
          <!-- printerest  -->
          <a aria-label="Pinterest" class="pinterest" href="https://in.pinterest.com/heavenofgamershog/">
            <img style="width: 30px;border-radius: 80%;" src="new_site/icon/pin.png" alt="">
          </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-center"><p style="color: white;"> © 2021 HOG  Developed & Marketed  by Axes Geeks Pvt. Ltd.</p></div>
      <div class="col-sm-6 text-center"  style="text-decoration: none;">
        <a href="term-and-condition" style="color: white; text-decoration: none;">Terms & Condition || </a>
        <a href="privacy-policy" style="color: white;text-decoration: none;">Privacy Policy || </a>
        <a href="#" style="color: white; text-decoration: none;">Disclaimer </a>
      </div>
    </div>
  </div>
</footer>
  <!--end Footer -->
  
  <!-- service  -->
  <script>
    $(".slider").owlCarousel({
      loop: true,
      autoplay: true,
      autoplayTimeout: 2000, //2000ms = 2s;
      autoplayHoverPause: true,
    });
  </script>
  <!-- end -->

  <!-- div animation  -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({ offset: 200, duration: 2000, });
  </script>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


  <script>
    window.onscroll = function () { myFunction() };
    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
  </script>

  <!-- End -->

  <!-- services carouser item haha -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js">
  </script>
  <script>
    $('.team-slider').owlCarousel({
      loop: true,
      nav: false,
      autoplay: true,
      autoplayTimeout: 1000,
      smartSpeed: 450,
      margin: 20,
      responsive: {
        0: {
          items: 1
        },
        768: {
          items: 3
        },
        991: {
          items: 3
        },
        1200: {
          items: 3
        },
        1920: {
          items: 3
        }
      }
    });
  </script>


<!-- include js files -->
<script src="js/include-html.min.js"></script>
<script src="js/jquery-3.6.0.min.js"></script>



</body>
</html>