<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lineups Out</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">

<style>
    .table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.table-responsive-stack td,
.table-responsive-stack th {
   display:block;
/*      
   flex-grow | flex-shrink | flex-basis   */
   -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
}
@media screen and (max-width: 768px) {
   .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;
      
   }
   /*  IE9 FIX   */
   .table-responsive-stack td {
      float: left\9;
      width:100%;
   }
}
</style>

</head>
<body>
    <div class="container">

        <div id="result1"></div>
        <div id="result2"></div>
          
     </div>
     <!-- /.container --> 
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
   
// inspired by http://jsfiddle.net/arunpjohny/564Lxosz/1/
$('.table-responsive-stack').each(function (i) {
   var id = $(this).attr('id');
   //alert(id);
   $(this).find("th").each(function(i) {
      $('#'+id + ' td:nth-child(' + (i + 1) + ')').prepend('<span class="table-responsive-stack-thead">'+             $(this).text() + ':</span> ');
      $('.table-responsive-stack-thead').hide();
      
   });
   
   
});
$( '.table-responsive-stack' ).each(function() {
var thCount = $(this).find("th").length; 
var rowGrow = 100 / thCount + '%';
//console.log(rowGrow);
$(this).find("th, td").css('flex-basis', rowGrow);   
});
function flexTable(){
if ($(window).width() < 768) {
   
$(".table-responsive-stack").each(function (i) {
   $(this).find(".table-responsive-stack-thead").show();
   $(this).find('thead').hide();
});
   
 
// window is less than 768px   
} else {
   
   
$(".table-responsive-stack").each(function (i) {
   $(this).find(".table-responsive-stack-thead").hide();
   $(this).find('thead').show();
});
   
   
}
// flextable   
}      
flexTable();
window.onresize = function(event) {
 flexTable();
};
// document ready  
});
</script>



<script>
function refresh(){
    $.getJSON('/admin/get-teams',data=>{
        console.log('data',data)
        makeTable1(data)
    })  
}
function refresh2(){
    $.getJSON('/admin/get-teams',data=>{
        console.log('data',data)
        makeTable2(data)
        
    })  
}
    $.getJSON('/admin/get-teams',data=>{
        console.log('data',data)
        makeTable1(data)
        makeTable2(data)
    })
    function makeTable1(data) {
        let table = `
        <h4 style="margin-top:20px">Playing</h4>
        <input type='number' id='name' class='form-control name' placeholder='Enter Points' style='margin-top:20px;margin-bottom:10px' ></input>
        <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
           <thead class="thead-dark">
              <tr>
                 <th> Player Name</th>
                
                 
              </tr>
           </thead>
           <tbody>`
       $.each(data,(i,item)=>{
       table+=` <tr>`
                 if(item.playerstatus=='Playing' || item.playerstatus == 'playing'){
                 table+=`<td>${item.name} (${item.teamname}) <span style='color:green'>&bull;(Playing)</span></td>
    
     
    <td>Player Points : ${item.playerpoints} 
        
        <button type='button' class='btn btn-success next ' id='${item.id}' style='margin-left:10px'>Update Points</button>
        </td>
      
                      </tr>`
                    }
       })
            
           
          table+=` </tbody>
        </table>
        `
        $('#result1').html(table)
    }
    function makeTable2(data) {
        let table = `
        <h4 style="margin-top:20px">Not Playing</h4>
        <input type='number' id='name' class='form-control name1' placeholder='Enter Points' style='margin-top:20px;margin-bottom:10px' ></input>
        <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
           <thead class="thead-dark">
              <tr>
                 <th> Player Name</th>
       
              </tr>
           </thead>
           <tbody>`
       $.each(data,(i,item)=>{
       table+=` <tr>`
                 if(item.playerstatus=='Not Playing'){
                 table+=`<td>${item.name} (${item.teamname}) <span style='color:red'>&bull;(Not Playing)</span></td> 
    
                 <td>Player Points : ${item.playerpoints} </td>
       <td>
    
        <button type='button' class='btn btn-success next ' id='${item.id}'>Update Points</button>  
                     </td>
                      </tr>`
                    }
       })
            
           
          table+=` </tbody>
        </table>
        `
        $('#result2').html(table)
    }
    $('#result1').on('click', '.next', function() {
        
      const playerid = $(this).attr('id');
      const player_points = $('.name').val()
      $.post('/admin/update-points',{playerid,player_points},data=>{
          refresh()
      })
      
    })
    
    $('#result2').on('click', '.next', function() {
    
        const playerid = $(this).attr('id');
        const player_points = $('.name1').val()
        
        $.post('/admin/update-points',{playerid,player_points},data=>{
            refresh2()
        })
        
      })
    $('#result1').on('click', '.save', function() {
        $.post('/admin/update-match-status',data=>{
            window.location.href='/admin/lineups'
        })
    })
</script>

</html>