<%- include ('./header.ejs') %>


  
    <!-- breadcrumbs area start -->
    <div class="breadcrumbs_aree breadcrumbs_bg " data-bgimg="assets/img/bg/breadcrumbs-bg.webp">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs_text text-center">
                        <h1>Privacy Policy </h1>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs area end -->
    
    <!-- page wrapper start -->
    <div class="page_wrapper">

        <!--game details section area start-->
        <section class="game_details_section mb-125">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="game_details_inner">
                            <div class="game_details_content top">
                                <span>HOG</span>
                                <h2 class="game_details_title">Privacy Policy</h2>
                                <div class="game_details_desc">
                                    <p>The privacy policy is a part of the HOG’s website and Terms & Conditions.
                                        By accepting our Terms & Conditions and Privacy Policy on the registration page, you
                                        consciously provide your sensitive personal data or information.
                                        Please do not register if you do not want to share your personal 
                                        details with Heaven of Gamers (HOG) requested at the time of registration. 
                                        Because you cannot download the app until you register yourself with your personal data. 
                                        Certain additional information may be requested by the HOG App to play our games online. </p>
                                    
                                </div>
                            </div>
                           

                            <div class="game_details_content bottom">
                                <div class="game_details_content_step">
                                    <h2>Policy Protection</h2>
                                    <div class="game_details_desc">
                                       <p>The HOG app respects your privacy & assures your data protection. To avail of the services of HOG on
                                           <a href="www.heavenofgamers.com" style="color:lightblue;"> www.heavenofgamers.com</a> 
                                           there you should provide your certain information to us. 
                                           This policy procedure follows certain criteria to gather, use, store, disclose and manage your personal data.  
                                            HOG app only collects your data to verify your account, manage game accounts and for transactions of your winning rewards. 
                                            It also helps our team to analyze users’ behavior and requirements.
                                        </p>     
                                    </div>
                                </div>
                                <div class="game_details_content_step">
                                    <h2>Why Does HOG App Need Your Personal Data?  </h2>
                                    <div class="game_details_desc">
                                       <p>User’s personal data includes the below-written information: </p>     
                                    </div>
                                    <h3>1. Sensitive Personal Data</h3>
                                    <ul style="list-style-type: circle;">
                                        <li>Account password</li>
                                        <li>Financial information, such as Bank account, credit/debit card, or other payment details</li>

                                    </ul>
                                    <h3> 2. Other Personal Data </h3>
                                    <ul style="list-style-type: circle;">
                                        <li>Name</li>
                                        <li>Date of birth</li>
                                        <li>Phone number</li>
                                        <li>Email address</li>
                                        <li>PAN Card number</li>
                                        <li>The IP address of the user’s computer</li>
                                        <li>Date and time while you play on our site</li>
                                        <li>Your picture for testimonials and other promotions</li>

                                    </ul>
                                   <p class="pt-5">You should update the information which you provide to the HOG if our team requires it by contacting us. 
                                       Your information must be updated for confirmation by the HOG app.  </p>
                                       <h3 class="pt-4">Data Security</h3>
                                       <p class="pt-2">We at HOG take care of your data against unauthorized access, alteration, destruction, or disclosure, including data collection, storage & processing for security measures. Therefore, we use the latest technology to encrypt your data against unauthorized access. 

                                        Heaven of Gamers has a team of professionals. They use several ways & tech to protect your sensitive information under the security policy. It includes technical, managerial, operational & physical security
                                        </p>

                                        <h3 class="pt-4"> HOG Data Retention Policy </h3>
                                        <p class="pt-2"> HOG will retain the information provided by you whenever we require to fulfill the purposes for which we collected the data, as outlined in our Privacy Policy. It is subject to longer periods of retention whenever we need it.
                             </p>
                             <h3 class="pt-4"> HOG Limitation of Liability</h3>
                             <p class="pt-2">  Heaven of Gamers clarifies that this Privacy Policy is only a description for the operation of the application regarding user information. 
                                        
                                        This policy does not create and intend any legal rights in your favor. HOG reserves the right to change its policy whenever it wants without giving you advanced notice. The liability of HOG will be limited when it needs to remove your sensitive personal data from its system and website. It is not responsible for your personal data damages while delivering Heaven of Gamers services on the website. 
                                        
</p>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--game details section area end-->

        <!-- counterup section start -->
        
        <!-- counterup section end -->

        <!-- gaming update section start -->
       
        <!-- gaming update section end -->

    </div>
    <!-- page wrapper end -->

    <!--footer area start-->
    <%- include ('./footer.ejs') %>
