<!doctype html>
<html lang="en">

<head>
  <!-- show logo in top on browser -->
  <link rel="shortcut icon" href="images/Fab_Icon_01-01.png" type="image/x-icon">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- div animation  -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dongle&family=Lato:ital@1&family=Merriweather&family=Mochiy+Pop+One&family=Oswald&display=swap"
    rel="stylesheet">
  <!-- fontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <!-- servives carousel -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
  <!--  End servives carousel -->

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- css link -->
  <link rel="stylesheet" href="new_site/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Metal+Mania&amp;display=swap" rel="stylesheet">

  <title>HOG</title>
</head>
<style>
  /* @import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap'); */
  body  h1,h2,h3,h4{
    font-family:   "Exo", sans-serif;
    color: rgba(20, 14, 56, 0.9);

  }
  
  .row h1,h2,h3,h4{
    font-family:   "Exo", sans-serif;
  }
  .container h1,h2,h3,h4{
   font-weight: bold;
  }

</style>

<body>


  <!-- navbar start -->

 
  <div class="header" id="myHeader" style="background: rgba(20, 14, 56, 0.9)";>
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="new_site/images/HOG_NEW-02.png" alt="logo" style=" width: 150px; margin-left: 15%;";>
        </a>
        <a class="navbar-brand" style="font-weight: bold; margin-left: 15%; color: rgb(0, 0, 0);"></a>
        <button class="navbar-toggler" style="background-color:  rgb(105, 11, 194);" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ms-auto mb-2 mb-lg-0" style="margin-right: 10%;" >
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/"
                style="font-weight: bold; color:white;font-size: 20px;">Home</a>
            </li>
          </ul>
          <ul class="navbar-nav  ms-auto mb-2 mb-lg-0" style="margin-right: 10%;" >
            <li class="nav-item" >
              <a class="nav-link" href="about" style="font-weight: bold; color:white; font-size: 20px;">About Us</a>
            </li>
          </ul>
        
        <ul class="navbar-nav  ms-auto mb-2 mb-lg-0" style="margin-right: 10%;" >
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-weight: bold; color:white; font-size: 20px;">Launching Soon</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- navbar end  -->


  <div class="container">
      <h1 class="mt-5 mb-5 text-center">PRIVACY POLICY</h1>

      <h4><span style="color: #b154f0;">HOG </span></h4>
      <h2>PRIVACY POLICY</h2>

        <h6>The privacy policy is a part of the HOG’s website and Terms & Conditions. 
          By accepting our Terms & Conditions and Privacy Policy on the registration page, you consciously provide your sensitive personal data or information.
           Please do not register if you do not want to share your personal details with Heaven of Gamers (HOG) requested at the time of registration.
           Because you cannot download the app until you register yourself with your personal data. Certain additional information may be requested by the HOG App to play our games online. 
        </h6>


    <h2 class="mt-5">WHY DOES HOG APP NEED YOUR PERSONAL DATA ?</h2>

     <h5>
        User’s personal data includes the below-written information:
     </h5>



     <h3 class="mt-5">1. SENSITIVE PERSONAL DATA</h3>
     <ul>
         <li>
             <h6>Account password</h6>
         </li>
         <li>
            <h6>Financial information, such as Bank account, credit/debit card, or other payment details</h6>
        </li>
     </ul>

     <h3 class="mt-5 mb-3">2. OTHER PERSONAL DATA</h3>
     <ul>
        <li> Name</li>
        <li>Date of birth</li>
        <li>Phone number</li>
        <li>Email address</li>
        <li>PAN Card number</li>
        <li>The IP address of the user’s computer</li>
        <li>Date and time while you play on our site</li>
        <li>Your picture for testimonials and other promotions</li>
     </ul>
     <h6>
        You should update the information which you provide to the HOG if our team requires it by contacting us. Your information must be updated for confirmation by the HOG app.
     </h6>


     <h2 class="mt-5"> DATA SECURITY</h2>
     <h6>
        We at HOG take care of your data against unauthorized access, alteration, destruction, or disclosure, including data collection, storage & processing for security measures. Therefore, we use the latest technology to encrypt your data against unauthorized access. Heaven of Gamers has a team of professionals. They use several ways & tech to protect your sensitive information under the security policy.
        It includes technical, managerial, operational & physical security
     </h6>

     <h2 class="mt-5">
        HOG DATA RETENTION POLICY</h2>
      <h6> 
        HOG will retain the information provided by you whenever we require to fulfill the purposes for which we collected the data, as outlined in our Privacy Policy. 
        It is subject to longer periods of retention whenever we need it.
     </h6>

     <h2 class="mt-5">
        HOG LIMITATION OF LIABILITY  
     </h2>
     <h6>  
        Heaven of Gamers clarifies that this Privacy Policy is only a description for the operation of the application regarding user information. This policy does not create and intend any legal rights in your favor. HOG reserves the right to change its policy whenever it wants without giving you advanced notice. The liability of HOG will be limited when it needs to remove your sensitive personal data from its system an
         It is not responsible for your personal data damages while delivering Heaven of Gamers services on the website.
     </h6>
 </div>

  <!-- Footer -->
  <footer class="page-footer font-small mt-5 " style="background: rgba(20, 14, 56, 0.9)" ;>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mt-3 mb-30">
          <img src="new_site/images/HOG_NEW-02.png" alt=""
            style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
          <p style="color:white;text-align: center;">HOG App is a skill-based gaming platform where you earn money while
            playing online.
            The app takes your passion for the games one step ahead & makes you a
            professional with an exciting gaming experience on your smartphone.
          </p>
        </div>
  
  
        <div class="col-sm-6 mt-3 py-3 text-center text-white">
          <h2 style="color:white">Contact</h2>
          <p>
            info@heavenofgamers.com <br>
          support@heavenofgamers.com <br>        
          </p>
  
                   
            <!-- Facebook -->
            <a href="https://www.facebook.com/heavensofgamer/">
              <!-- <i class="fab fa-facebook-f fa-lg mr-md-2 mr-2 " style="color: white;"></i> -->
              <img style="width: 30px;border-radius: 70%;" src="new_site/icon/fb.png" alt="">
            </a>
            <!--Instagram-->
            <a aria-label="instagram" class="instagram" href="https://www.instagram.com/heavensofgamers/">
              <!-- <i class="fab fa-instagram fa-lg mr-md-2 mr-2  " style="color: white;"></i> -->
              <img style="width: 30px; border-radius: 50%;" src="new_site/icon/insta.png" alt="">
            </a>
            <!-- youtube  -->
            <a aria-label="youtube" class="youtube" href="https://www.youtube.com/channel/UCaXtspctg_nRy4SofAxlUvQ">
              <!-- <i class="fab fa-youtube fa-lg mr-md-2 mr-2 " style="color: white;"></i> -->
              <img style="width: 30px; border-radius: 70%;" src="new_site/icon/yout.png" alt="">
            </a>
            <!-- twitter  -->
            <a aria-label="twitter" class="twitter" href="https://twitter.com/GamersHog">
              <!-- <i class="fab fa-twitter fa-lg mr-md-2 mr-2 " style="color: white;"></i> -->
              <img style="width: 30px;border-radius: 10%;" src="new_site/icon/twitter.png" alt="">
            </a>
            <!-- Linkedin  -->
            <a aria-label="linkedln" class="linkedln" href="https://www.linkedin.com/company/heavenofgamers/">
              <img style="width: 30px; border-radius: 80%;" src="new_site/icon/linked.png" alt="">
              <!-- <i class="fab fa-linkedin-in fa-lg mr-md-2 mr-2  " style="color: white;"></i> -->
            </a>
            <!-- printerest  -->
            <a aria-label="Pinterest" class="pinterest" href="https://in.pinterest.com/heavenofgamershog/">
              <!-- <i class="fab fa-pinterest fa-lg mr-md-2 mr-2 " style="color: white;"></i> -->
              <img style="width: 30px;border-radius: 80%;" src="new_site/icon/pin.png" alt="">
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-center"><p style="color: white;"> © 2021 HOG  Developed & Marketed  by Axes Geeks Pvt. Ltd.</p></div>
        <div class="col-sm-6 text-center"  style="text-decoration: none;">
          <a href="term-and-condition" style="color: white; text-decoration: none;">Terms & Condition || </a>
          <a href="privacy-policy" style="color: white;text-decoration: none;">Privacy Policy || </a>
          <a href="#" style="color: white; text-decoration: none;">Disclaimer </a>
        </div>
      </div>
    </div> 
  </footer>
    <!--end Footer -->
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  </body>
  </html>