<!doctype html>
<html lang="en">

<head>
  <!-- show logo in top on browser -->
  <link rel="shortcut icon" href="images/Fab_Icon_01-01.png" type="image/x-icon">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- div animation  -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dongle&family=Lato:ital@1&family=Merriweather&family=Mochiy+Pop+One&family=Oswald&display=swap"
    rel="stylesheet">
  <!-- fontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <!-- servives carousel -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
  <!--  End servives carousel -->

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- css link -->
  <link rel="stylesheet" href="new_site/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Metal+Mania&amp;display=swap" rel="stylesheet">

  <title>HOG</title>
</head>
<style>
  /* @import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap'); */
  body  h1,h2,h3,h4{
    font-family:   "Exo", sans-serif;
    color: rgba(20, 14, 56, 0.9);

  }
  
  .row h1,h2,h3,h4{
    font-family:   "Exo", sans-serif;
  }
  .container h1,h2,h3,h4{
   font-weight: bold;
  }
.container h6{
    margin-top:25px ;
}

</style>

<body>


  <!-- navbar start -->

 
  <div class="header" id="myHeader" style="background: rgba(20, 14, 56, 0.9)";>
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="new_site/images/HOG_NEW-02.png" alt="logo" style=" width: 150px; margin-left: 15%;";>
        </a>
        <a class="navbar-brand" style="font-weight: bold; margin-left: 15%; color: rgb(0, 0, 0);"></a>
        <button class="navbar-toggler" style="background-color:  rgb(105, 11, 194);" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ms-auto mb-2 mb-lg-0" style="margin-right: 10%;" >
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/"
                style="font-weight: bold; color:white;font-size: 20px;">Home</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                style="font-weight: bold; color:white;">About Us</a>
            </li> -->
            <!-- <li class="nav-item" >
              <a class="nav-link" href="#" style="font-weight: bold; color:white;">About Us</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="#" style="font-weight: bold; color:white;">Download</a>
            </li> -->
          </ul>
          <ul class="navbar-nav  ms-auto mb-2 mb-lg-0" style="margin-right: 10%;" >
            <li class="nav-item" >
              <a class="nav-link" href="about" style="font-weight: bold; color:white; font-size: 20px;">About Us</a>
            </li>
          </ul>
        
        <ul class="navbar-nav  ms-auto mb-2 mb-lg-0" style="margin-right: 10%;" >
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-weight: bold; color:white; font-size: 20px;">Launching Soon</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- navbar end  -->


  <div class="container">
      <h1 class="mt-5 mb-5 text-center">TERMS & CONDITIONS</h1>

      <h4><span style="color: #b154f0;">HOG </span></h4>
      <h2>TERMS & CONDITIONS</h2>
      <h6>Heaven of Gamers is India’s No.1 gaming platform (hereinafter referred to as “We”, “Us”, or “Our”). 
          HOG, through its portal and mobile App, is referred to as a “platform”. 
          There, we offer a wide range of online games such as Cricket Fantasy, Chess, Fruit Samurai, Ludo, Poker, Roulette, Cricket, Teen Patti, & Many More.
      </h6>

      <h6>Our Terms & Conditions along with Privacy Policy manage the relationship between you and us.
           The Terms and Privacy Policy form is a legal agreement between you and HOG when you visit, access, or use our platform and services.
      </h6>

      <h6>
        Using the HOG services indicates that you accepted the platform's policies & therefore, you are advised to read the Terms & Conditions before using our services.
         We reserve the right to review, update and modify our policy at any point.
      </h6>

      <h6>
        You are advised to keep yourself updated with our policies. We will notify you of modifications of the Terms we make and
        Your continued access to HOG services will make us understand that you agree with the policies.
      </h6>

      <h6>
        If you don’t want to accept any part of our policies or any modification, you are advised to stop accessing our service.
      </h6>
      <h6>
        To use our service & play HOG games, you must register yourself with us & accept the policies.
      </h6>
 

    <h2 class="mt-5">RETURN, REFUND & CANCELLATION</h2>

     <h6>
        In time, if there is an error in HOG services, we may refund the amount you might have added to your games or player after investigating. Make sure you read the rules of the games before participating.
     </h6>

     <h6>
        HOG does not cancel any registration once entered, however, in some exceptional cases where we found fault or lied with the payment gateway from your side, we cancel that participation and refund the amount.
     </h6>

     <h6>
        In that case, we may cancel your participation in any HOG games or contests, which means we will return your amount. For that, you need to redeem the same by playing other contests
     </h6>
     <h6>
        With our gaming service, we will try our best to create the best user experience. If you pay by using a credit card, refunds will be released to the original credit card provided at the time of purchase. 
        If in case your payment is made through a payment domain, we will refund the same, using the same method.
     </h6>
     <h6>
        Users must use any amount in their account within 365 days. HOG will have the right to directly forfeit any such unused amount after 365 days.
     </h6>
     <h6>
        HOG does not allow cash withdrawal against any inactive balance lying in any user’s account besides in conformity with applicable rules
     </h6>

     <h2 class="mt-5 mb-5">UPCOMING GAMES RULES & FORMATS</h2>

     <h6>We currently have 15 games which is under development on the HOG, our gaming platform, namely Chess, Carrom, 8 Pool, Bubble Shooter, Fruit Samurai, Ludo, Poker, Tambola, Roulette, Rummy, Horse Race, Cricket, Teen Patti, Call Break & Many More.
        Our team may increase or eliminate the number of games & formats at the sole discretion.
     </h6>
     <h6>
        HOG contests are skill-based competitions provided in the gaming platform, in which the user can compete against other players of HOG. Our contests can be free or paid. The users who paid for contests are required to provide 
        an entry fee for participation while on the other side, free contests are open & do not need an entry fee.
     </h6>
     <h6>
        By downloading the HOG app, you agree to follow the rules and regulations of the games on the platform. You must ensure that you have read & understood our Game Rule before playing online. You can find the rules or how to play page on our app by registering yourself and participating.
     </h6>
     <h6>
        Apart from this, we may also change some rules from time to time. Make sure you update yourself as we may come up with new games on the HOG app. HOG reserves the right to announce the results and winners of each game you play after counting the applicable game rules.
     </h6>
     <h6>
        We reserve the right to determine the results and winners of each of the Games under the applicable Game Rules. 
        By registering or participating in our app and game You agree to our determinations, which might not be open to challenge for you. We will update the lists of winners on our app or website.
     </h6>

 </div>

  <!-- Footer -->
  <footer class="page-footer font-small mt-5 " style="background: rgba(20, 14, 56, 0.9)" ;>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mt-3 mb-30">
          <img src="new_site/images/HOG_NEW-02.png" alt=""
            style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
          <p style="color:white;text-align: center;">HOG App is a skill-based gaming platform where you earn money while
            playing online.
            The app takes your passion for the games one step ahead & makes you a
            professional with an exciting gaming experience on your smartphone.
          </p>
        </div>
  
  
        <div class="col-sm-6 mt-3 py-3 text-center text-white">
            <div class="z">
          <h2 style="color:white">Contact</h2>
          <p>
            info@heavenofgamers.com <br>
          support@heavenofgamers.com <br>        
          </p>
  
                   
            <!-- Facebook -->
            <a href="https://www.facebook.com/heavensofgamer/">
              <!-- <i class="fab fa-facebook-f fa-lg mr-md-2 mr-2 " style="color: white;"></i> -->
              <img style="width: 30px;border-radius: 70%;" src="new_site/icon/fb.png" alt="">
            </a>
            <!--Instagram-->
            <a aria-label="instagram" class="instagram" href="https://www.instagram.com/heavensofgamers/">
              <!-- <i class="fab fa-instagram fa-lg mr-md-2 mr-2  " style="color: white;"></i> -->
              <img style="width: 30px; border-radius: 50%;" src="new_site/icon/insta.png" alt="">
            </a>
            <!-- youtube  -->
            <a aria-label="youtube" class="youtube" href="https://www.youtube.com/channel/UCaXtspctg_nRy4SofAxlUvQ">
              <!-- <i class="fab fa-youtube fa-lg mr-md-2 mr-2 " style="color: white;"></i> -->
              <img style="width: 30px; border-radius: 70%;" src="new_site/icon/yout.png" alt="">
            </a>
            <!-- twitter  -->
            <a aria-label="twitter" class="twitter" href="https://twitter.com/GamersHog">
              <!-- <i class="fab fa-twitter fa-lg mr-md-2 mr-2 " style="color: white;"></i> -->
              <img style="width: 30px;border-radius: 10%;" src="new_site/icon/twitter.png" alt="">
            </a>
            <!-- Linkedin  -->
            <a aria-label="linkedln" class="linkedln" href="https://www.linkedin.com/company/heavenofgamers/">
              <img style="width: 30px; border-radius: 80%;" src="new_site/icon/linked.png" alt="">
              <!-- <i class="fab fa-linkedin-in fa-lg mr-md-2 mr-2  " style="color: white;"></i> -->
            </a>
            <!-- printerest  -->
            <a aria-label="Pinterest" class="pinterest" href="https://in.pinterest.com/heavenofgamershog/">
              <!-- <i class="fab fa-pinterest fa-lg mr-md-2 mr-2 " style="color: white;"></i> -->
              <img style="width: 30px;border-radius: 80%;" src="new_site/icon/pin.png" alt="">
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-center"><p style="color: white;"> © 2022 HOG  Developed & Marketed by Axes Geeks Private Limited</p></div>
        <div class="col-sm-6 text-center"  style="text-decoration: none;">
          <a href="term-and-condition" style="color: white; text-decoration: none;">Terms & Conditions || </a>
          <a href="privacy-policy" style="color: white;text-decoration: none;">Privacy Policy || </a>
          <a href="#" style="color: white; text-decoration: none;">Disclaimer </a>
        </div>
      </div>
    </div> 
  </footer>
    <!--end Footer -->
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  </body>
  </html>