<%- include ('./header.ejs') %>

    <!--header area end-->

   

    <!-- breadcrumbs area start -->
    <div class="breadcrumbs_aree breadcrumbs_bg" data-bgimg="assets/img/bg/breadcrumbs-bg.webp">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs_text text-center">
                        <h1>
                            Terms & Conditions 
                            </h1>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs area end -->
    
    <!-- page wrapper start -->
    <div class="page_wrapper">

        <!--game details section area start-->
        <section class="game_details_section mb-125">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="game_details_inner">
                            <div class="game_details_content top">
                                <span>HOG</span>
                                <h2 class="game_details_title">
                                    Terms & Conditions 
                                    </h2>
                                <div class="game_details_desc">
                                    <p>Heaven of Gamers is India’s No.1 gaming platform 
                                        (hereinafter referred to as “We”, “Us”, or “Our”). 
                                        HOG, through its portal and mobile App, is referred 
                                        to as a “platform”. There, we offer a wide range of 
                                        online games such as Cricket Fantasy, Chess, 
                                        Fruit Samurai, Ludo, Poker, Roulette, Cricket, 
                                        Teen Patti, & Many More.  </p>
                                    <p>Our Terms & Conditions along with Privacy Policy manage the relationship 
                                        between you and us. The Terms and Privacy Policy form is a legal agreement 
                                        between you and HOG when you visit, access, 
                                        or use our platform and services. </p>
                                        <p>Using the HOG services indicates that you accepted the platform's 
                                            policies & therefore, you are advised to read the Terms & Conditions 
                                            before using our services. We reserve the right to review, update 
                                            and modify our policy at any point. </p>
                                            <p>You are advised to keep yourself updated with our policies. 
                                                We will notify you of modifications of the Terms we make and 
                                                Your continued access to HOG services will
                                                 make us understand that you agree with the policies. </p>
                                        <p>If you don’t want to accept any part of our policies or any modification, 
                                            you are advised to stop accessing our service. </p> 
                                       <p>To use our service & play HOG games, you must register yourself 
                                           with us & accept the policies. </p>             
                                </div>
                            </div>
                           

                            <div class="game_details_content bottom">
                                <div class="game_details_content_step">
                                    <h2>Return, Refund & Cancellation</h2>
                                    <div class="game_details_desc">
                                      <p>	In time, if there is an error in HOG services, we may refund 
                                          the amount you might have added to your games or player after investigating. 
                                          Make sure you read the rules of the games before participating. </p>   
                                          <p>HOG does not cancel any registration once entered, however, 
                                              in some exceptional cases where we found fault or lied with 
                                              the payment gateway from your side, 
                                              we cancel that participation and refund the amount. </p> 
                                              <p>In that case, we may cancel your participation in any HOG games 
                                                  or contests, which means we will return your amount. For that, 
                                                  you need to redeem the same by playing other contests</p>
                                        <p>With our gaming service, we will try our best to create the 
                                            best user experience. If you pay by using a credit card, refunds will be released to the original credit card provided at the time of purchase. If in case your payment is made through a payment domain, 
                                            we will refund the same, using the same method. </p>  
                                            <p>Users must use any amount in their account within 365 days. HOG will have the right to directly
                                                 forfeit any such unused amount after 365 days. </p> 
                                          <p>HOG does not allow cash withdrawal against any inactive balance lying in any user’s 
                                              account besides in conformity with applicable rules</p>       
                                    </div>
                                </div>
                             
                        
                            </div>
                            <div class="game_details_content bottom">
                                <div class="game_details_content_step">
                                    <h2>Upcoming Games Rules & Formats</h2>
                                    <div class="game_details_desc">
                                      <p>	We currently have 15 games which is under development on the HOG, 
                                          our gaming platform, namely Chess, Carrom, 8 Pool, Bubble Shooter, 
                                          Fruit Samurai, Ludo, Poker, Tambola, Roulette, Rummy, Horse Race, Cricket, 
                                          Teen Patti, Call Break & Many More. Our team may increase or 
                                          eliminate the number of games & formats at the sole discretion.  </p>   
                                          <p>HOG contests are skill-based competitions provided in the gaming platform, 
                                              in which the user can compete against other players of HOG. 
                                              Our contests can be free or paid. The users who paid for contests 
                                              are required to provide an entry fee for participation while on the other side, 
                                              free contests are open & do not need an entry fee. </p> 
                                              <p>By downloading the HOG app, you agree to follow the rules 
                                                  and regulations of the games on the platform. You must ensure
                                                   that you have read & understood our Game Rule before playing online. 
                                                   You can find the rules or how to play page
                                                  on our app by registering yourself and participating. </p>
                                        <p>Apart from this, we may also change some rules from time to time. Make sure you update yourself as we may come up with new games on the HOG app. 
                                            HOG reserves the right to announce the results and winners of each game you play after counting the applicable game rules. 
                                             </p>  
                                            <p>We reserve the right to determine the results and winners of 
                                                each of the Games under the applicable Game Rules. 
                                                By registering or participating in our app and game 
                                                You agree to our determinations, which might not be open to 
                                                challenge for you. We will update the lists of winners on our app or website. </p> 
                                               
                                    </div>
                                </div>
                             
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--game details section area end-->

        <!-- counterup section start -->
        
        <!-- counterup section end -->

        <!-- gaming update section start -->
       
        <!-- gaming update section end -->

    </div>  
    <!-- page wrapper end -->

    <!--footer area start-->
    <%- include ('./footer.ejs') %>
  